<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a routerLink="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sauvons nos jeunes</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="" class="nav-link" aria-current="page">Accueil</a>
    </li>
    <li class="nav-item">
      <a routerLink="/#" class="nav-link" aria-current="page">Liste des Projets</a>
    </li>
    <li class="nav-item">
      <a routerLink="/categorie" class="nav-link" aria-current="page">Catégories</a>
    </li>
    <li class="nav-item">
      <a routerLink="/addCategorie" class="nav-link" aria-current="page">Ajout Catégorie</a>
    </li>
    <li class="nav-item">
      <a routerLink="/donation" class="nav-link" aria-current="page">Donations</a>
    </li>
    <li class="nav-item">
      <a routerLink="/user" class="nav-link" aria-current="page">Utilisateurs</a>
    </li>
  </ul>
</nav>
